html {
    width: 100%; 
    height: 100%; 
    padding: 0; 
    margin: 0;
}

body {
    width: 100%; 
    height: 100%; 
    background-size: 100%;
    background-color:#86C67C;
    position: relative; 
    padding: 0; 
    margin: 0;
}


h1 {
    color:#ffffff;
    font-family: 'Montserrat',verdana,arial,sans-serif;
}




div {
    font-family: 'Montserrat',verdana,arial,sans-serif;
    color: #35373b;
    /*border-radius: 6px; */
}

.centered {
  position: fixed;
  top: 30%;
  left: 15%;

}






