html {
    width: 100%; 
    height: 100%; 
    padding: 0; 
    margin: 0;
}

body {
    width: 100%; 
    height: 100%; 
    background-size: 100%;
    /*background-color:#86C67C;*/
    background-color:#35373b;
    
    position: relative; 
    padding: 0; 
    margin: 0;
}


h1 {
    color:#ffffff;
    font-family: 'Montserrat',verdana,arial,sans-serif;
}




div {
    font-family: 'Montserrat',verdana,arial,sans-serif;
    /*background-color: #35373b;*/
     position: fixed;
     width:100%;
     /*height:30%;*/
     /*top: 0%;*/
     color:#ffffff;
     padding-top:1%;
     padding-bottom:1%;
     text-align: center;
     

     /*left:10em;*/
}


/*.centered {
  position: fixed;
  left: 15%;
}*/

#title {
    top: 0%;
    font-size: 5em;
}

#instructions{
    top: 15%;
    font-size: 2em;
}

#instructions2{
    top: 25%;
    font-size: 2em;
}

#instructions3{
    top: 35%;
    font-size: 2em;
}

#instructions4{
    top: 55%;
    font-size: 2em;
}

#instructions5{
    top: 65%;
    font-size: 2em;
}

