<!DOCTYPE html>
<html>
    <head>
        <title id="topTitle">Wizard People</title>


        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>

        <!-- our main js and css -->
        <script type="text/javascript" src="/static/main.js"></script>
        <script type="text/javascript" src="/static/socket_connections.js"></script>

        <link rel="stylesheet" type="text/css" href="/static/main.css" />

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>

        <script type="text/javascript" src="/static/socket.io.js"></script>

    </head>



    <body>


        <canvas id="canvas"></canvas>




    </body>
</html>

