<!DOCTYPE html>
<html>
    <head>
        <title id="topTitle">Wizard People</title>


        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>

        <!-- our main js and css -->
        <script type="text/javascript" src="/static/main.js"></script>
        <script type="text/javascript" src="/static/socket_connections.js"></script>

        <link rel="stylesheet" type="text/css" href="/static/main.css" />

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>

        <script type="text/javascript" src="/static/socket.io.js"></script>

    </head>



    <body>

        <div class="outer bdiv">
        <div class="middle bdiv">
        <div class="inner bdiv" id="black_box">
            <p class='startText' id='title'>WIZARD PEOPLE</p>
            <p class='startText' id='instructions'>CLICK TO SELECT A WIZARD</p>
            <p class='startText' id='instructions2'>WAIT FOR OTHER PLAYERS</p>
            <p class='startText' id='instructions3'>PRESS ENTER TO BEGIN</p>
            <p class='startText' id='instructions4'>A,S,W,D TO MOVE</p>
            <p class='startText' id='instructions5'>ARROW KEYS TO CAST SPELLS</p>
        </div>
        </div>
        </div>


        <canvas id="canvas"></canvas>




    </body>
</html>

